﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/css")
</head>
<body class="mb-5">
    <nav class="navbar navbar-expand-lg bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="~/Home/Index"><span class="text-warning">Register MVC App</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="~/Home/Index"><span class="text-warning">Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="~/Account/Logout"><span class="text-warning">Logout</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

        <div class="container body-content">
            @RenderBody()
        </div>
        
        <footer class="fixed-bottom bg-dark">
            <div class="mx-2 text-end">
                <p class="text-warning">My ASP.NET Application - &copy; @DateTime.Now.Year</p>
            </div>
        </footer>

    @Scripts.Render(new string[] { "~/js" })
</body>
</html>