﻿@model RegisterWebApp.Models.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <div class="">
                        <form action="Login" method="post" class="px-4 py-3">
                            <div class="form-group">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control w-100" name="Username" placeholder="username">
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control w-100" name="Password" placeholder="Password">
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Sign in</button>
                        </form>
                    </div>
                    <div class="align-content-center"></div>
                    @Html.ActionLink("New around here? Sign up", "Register")
                </div>

            </div>
        </div>
    </div>
</div>

@Styles.Render("~/login-css")
