﻿@model RegisterWebApp.Models.ViewModels.RegisterViewModel



@if (ViewBag.ErrorMessage != null)
{
    <div id="alertId" class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<h2>Register</h2>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="Register" method="post">
                <div class="">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">First Name</label>
                                <input class="form-control" name="FirstName" value="@Model.FirstName">
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input class="form-control" name="Email" value="@Model.Email">
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Last Name</label>
                                <input class="form-control" name="LastName" value="@Model.LastName">
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Date of Birth</label>
                                <input class="form-control" name="DateOfBirth" value="@Model.DateOfBirth" type="date">
                                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Address</label>
                            <textarea class="form-control col-12" name="Address">@Model.Address</textarea>
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control" value="@Model.Username" name="Username">
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input class="form-control" name="Password" type="password">
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="">
                            <div class="col-md-12 mb-3">
                                <label class="form-label">Role</label>
                                <select name="RoleIds" class="form-select">
                                    @foreach (var item in Model.Roles)
                                    {
                                        <option value="@item.Value" @(item.Selected ? "selected" : "") )>@item.Text</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model.RoleIds, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to Login Form", "Login")
</div>