﻿body {
    background-image: url('../Content/Images/5082238.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; /* Ensure the background covers the entire viewport height */
}
