﻿@using Extension.Converter;
@model IEnumerable<RegisterWebApp.Models.UserModel>

<h1>Registrations Detail</h1>
<hr/>
<table class="table">
    <thead>
        <tr>
            <th scope="col" >Id</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach(var item in Model)
         {
             <tr>
                 <td>@item.Id</td>
                 <th scope="row">@item.Username</th>
                 <td>@item.Password</td>
                 <td>@item.FirstName</td>
                 <td>@item.LastName</td>
                 <td>@item.DateOfBirth.UTCToLocal().ToString("dd/MM/yyyy")</td>
                 <td>@item.Email</td>
                 <td>@item.Address</td>
                 <td>@item.Roles</td>
             </tr>
         }
        
    </tbody>
</table>